<nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top"style="height: 100px;">
    <div class="container-fluid">
      <div class="container-fluid">
        <a class="navbar-brand" >
          <img src="img/pharmacy.png"  style="height: auto;width: 80px;">

        </a>
      </div>
      <ul class="navbar-nav ms-auto"style="font-size:30px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/adminindex" >HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Stafflogin">staff login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctorlogin">doctor login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patientrecord">patitent record</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/ambulancerecord">ambulance record</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/viewpatient">view patient</a>
        </li>
        
        </ul>
    </div>
  </nav>


