<footer class="bg-primary text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Shri Datta Multi-Speciality Hospital</h5>
                <p>Medha, Maharashtra</p>
               
                <p>Phone: +91-9876543210</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Our doctors</a></li>
                    <li><a href="#" class="text-light text-decoration-none">AMBULANCE</a></li>
                    <li><a href="#" class="text-light text-decoration-none">medical</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
                    
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">  Shri Datta Multi-Speciality Hospital, Medha.</p>
        </div>
    </div>
  </footer>
  
 