<div class="container text-center mt-5"><br><br><br>
  <h1 class="display-4 text-primary fw-bold">Welcome to Shri Datta Multispeciality Hospital</h1>
 <h3 class="display-4 text-primary">Our Doctors</h3>
 <style>
  body {
      background-color: #f8f9fa;
      padding: 50px;
      margin: 40px;
  }
  .card {
      transition: transform 0.3s ease-in-out;
  }
  .card:hover {
      transform: scale(1.05);
  }
</style>
  <div class="row mt-4">
    
      <!-- Doctor Cards Row 1 -->
      <div class="col-md-6 mb-4">
          <div class="card">
              <img src="img/docr1.jpeg" class="card-img-top" alt="Doctor 1">
              <div class="card-body text-center">
                  <h4 class="card-title" style="color: rgb(191, 37, 37); font-weight: bold; font-style: oblique;">DR. Sanket Shirsath</h4>
                  
                  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#doc1">More Info</button>
                  <div id="doc1" class="collapse mt-2">
                      <h5>Education:</h5>
                      <strong>BAMS/MS(GYNEAC/OBS)
                     
                     ANC-TREATMENT <br>
                     
                     PNC-TREATMENT <br>
                     
                     Infertility-TREATMENT
                     <br>
                     Normal Delivary
                     <br>
                     LSCS
                     <br>
                     Hysterectomy
                     <br>
                     Gyneac-treatment
                     <br></strong>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 mb-4">
          <div class="card">
              <img src="img/docmr.jpeg" class="card-img-top" alt="Doctor 2">
              <div class="card-body text-center">
                  <h4 class="card-title" style="color: rgb(191, 37, 37); font-weight: bold; font-style: oblique;">DR. Sumit Sonar</h4>
                  
                  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#doc2">More Info</button>
                  <div id="doc2" class="collapse mt-2">
                      <h5>Education:</h5>
                      <strong>MBBS pune <br>
                     
                     DNB-General Surgery(Hinduja hospital ,mumbai) <br>
                     
                     FELLOWSHIP IN ONCOSURGERY <br>
                     
                     Cancer Specialist
                     <br>
                     General & Laparoscopic Surgeon
                     <br></strong>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-4">
      <!-- Doctor Cards Row 2 -->
      <div class="col-md-6 mb-4">
          <div class="card">
              <img src="img/docmiss.jpeg" class="card-img-top" alt="Doctor 3">
              <div class="card-body text-center">
                  <h4 class="card-title" style="color: rgb(191, 37, 37); font-weight: bold; font-style: oblique;">DR. Ashwini Katkar-Yadav</h4>
                  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#doc3">More Info</button>
                  <div id="doc3" class="collapse mt-2">
                      <h5>Education:</h5>
       <strong>MBBS,DDV,FCPS(Dermat)
      
      Dermatology,Cosmetology & Dermatosurgery<br>
      
       
      <br></strong>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 mb-4">
          <div class="card">
              <img src="img/do.jpeg"  class="card-img-top" alt="Doctor 4">
              <div class="card-body text-center">
                  <h4 class="card-title" style="color: rgb(191, 37, 37); font-weight: bold; font-style: oblique;">DR. Rohit.S.Yadav</h4>
                  <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#doc4">More Info</button>
                  <div id="doc4" class="collapse mt-2">
                      <h5>Education:</h5>
                      <strong>MBBS ,M.s(Ortho)<br>
                     
                     Fellowship in joint <br>
                     
                    Replacement(Mumbai) <br>
                     
                    
                     <br></strong>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>