<section id="contact" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4" style="font-size: 50px;color: cornflowerblue;">Contact Us</h2>
        <div class="row">
            <div class="col-md-12">
                <h4 style="font-size: 100px; color: rgb(96, 67, 123);background: fixed; font-family: Arial, Helvetica, sans-serif;">Shri Datta Multispeciality Hospital Medha</h4><br>
                <p style="font-size: 40px;"><strong style="font-size: 50px;">Address:</strong> Medha, Maharashtra, India</p><br>
                <p style="font-size:40px;"><strong style="font-size: 50px;">Phone:</strong> +91  7972320852"/p><br>
            </div>
            <br>
            <div class="col-md-12"><br>
                <h4 style="font-size: 70px; color: brown;">Location on Google Maps</h4><br>
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d7920.822016034642!2d73.81809183499232!3d17.787917787590025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spawar%20towar%20medha%20!5e0!3m2!1shi!2sin!4v1746435834379!5m2!1shi!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
                       
                  
                </div>
            </div>
        </div>
    </div>
</section>

