<section id="contact" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4" style="font-size: 50px;color: cornflowerblue;">Contact Us</h2>
        <div class="row">
            <div class="col-md-12">
                <h4 style="font-size: 100px; color: rgb(96, 67, 123);background: fixed; font-family: Arial, Helvetica, sans-serif;">Shri Datta Multispeciality Hospital Medha</h4><br>
                <p style="font-size: 40px;"><strong style="font-size: 50px;">Address:</strong> Medha, Maharashtra, India</p><br>
                <p style="font-size:40px;"><strong style="font-size: 50px;">Phone:</strong> +91 XXXXXXXXXX</p><br>
            </div>
            <br>
            <div class="col-md-12"><br>
                <h4 style="font-size: 70px; color: brown;">Location on Google Maps</h4><br>
                <div class="ratio ratio-16x9">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1dXXXXX!2dXX.XXXXX!3dXX.XXXXX!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xXXXXXXXXXXXXXX%3A0xXXXXXXXXXXXXXX!2sShri+Datta+Multispeciality+Hospital!5e0!3m2!1sen!2sin!4vXXXXXXXXXXXX" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

